*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}
section{
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: row;
    justify-content: start;
   
}
.navbar{
    width: 100%;
    padding: 20px 60px;
    background: rgba(255,255,255,0.8);
    display: flex;
    justify-content: space-between;
    align-items: center;
    backdrop-filter: blur(4px);
}
.logo{
    font-size: 24px;
    font-weight: 700;
    color: #e6432e;
}

.logo span{
    color: #222;
}

.navbar ul{
    list-style: none;
    display: flex;
    gap: 25px;
}

.navbar ul li a{
    text-decoration: none;
    color: #333;
    font-size: 16px;
    font-weight: 500;
    transition: 0.3s;
}
.navbar ul li a:hover{
    color: #e6432e;
}
.container1{
    display: flex;
    flex-direction: column;

    padding: 40px 60px;
    gap: 20px;

    .form_contact{
        display: flex;
        flex-direction: column;
        width: 100%;
        gap: 5px;
        max-width: 600px;
        
        label{
            font-size: 16px;
            font-weight: 600;
            color: #333;
            padding: 5px;
        }
        .input_contact{
            width: 100%;
            height: 35px;
            border: 1px solid #ccc;
            border-radius: 6px;
            padding: 0 10px;
            font-size: 14px;
        }
        .textarea_contact{
            width: 100%;
            height: 100px;
            border: 1px solid #ccc;
            border-radius: 6px;
            padding: 10px;
            font-size: 14px;
            resize: vertical;
        }
        
    }
    .button_contact{
        width: 60px; 
        height: 30px; 
        border-radius: 6px; 
        border: none;
        background-color: #e6432e;
        color: white;
        font-weight: bold;
        cursor: pointer;
    }
}
.container2{
    display: flex;
    flex-direction: column;
    padding: 40px 60px;
    gap: 20px;
}
.social_contact{
    display: flex;
    flex-direction: column;
    gap: 5px;
    .social_icons{
        display: flex;
      a img{
        width: 30px;
        height: 30px;
        cursor: pointer;
    }
    }
}
